* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
}

body {
    background-image: url(../images/Back3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

main {
    width: 100%;
    padding: 70px;
    margin: auto;
    margin-top: 100px;
}

.contenedor__todo {
    width: 100%;
    max-width: 800px;
    margin: auto;
    position: relative;
}

.caja__trasera {
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    backdrop-filter: blur(1px);
    background-color: rgba(175, 127, 23, 0.0);
}

.caja__trasera div {
    margin: 100px 40px;
    color: orange;
    transition: all 500ms;
}

.caja__trasera div p,
.caja__trasera div button {
    margin-top: 30px;
}

.caja__trasera div h3 {
    font-weight: 400;
    font-size: 26px;
}

.caja__trasera button {
    padding: 10px 40px;
    border: 2px solid rgb(153, 109, 13);
    color: orange;
    background: transparent;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    outline: none;
    transition: all 300ms;
}

.caja__trasera button:hover {
    background: black;
    color: orange;
}

.contenedor__login-register {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 300px;
    position: relative;
    top: -185px;
    left: 10px;
    transition: left 500ms cubic-bezier(0.175, 0.885, 0.328, 1.275);
}

.contenedor__login-register form {
    width: 100%;
    padding: 80px 20px;
    background: rgb(161, 113, 9);
    position: absolute;
    border-radius: 20px;
}

.contenedor__login-register form h2 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    color: rgb(0, 0, 0);
}

.contenedor__login-register form input {
    width: 100%;
    margin-top: 10px;
    padding: 5px;
    border: none;
    background: #f2f2f2;
    font-size: 16px;
}

.contenedor__login-register form label {
    margin-top: 20px;
    padding: 50px;
    font-size: 10px;
}

.contenedor__login-register form button {
    padding: 10px 40px;
    margin-top: 40px;
    border: none;
    font-size: 14px;
    background: rgb(0, 0, 0);
    color: orange;
    cursor: pointer;
}

.formulario__login {
    opacity: 1;
    display: block;
    position: center;
}

.formulario__register {
    display: none;
}

@media screen and (max-width: 850px) {
    main {
        margin-top: 50px;
    }
    .caja__trasera {
        max-width: 350px;
        height: 300px;
        flex-direction: column;
        margin: auto;
    }
    .caja__trasera div {
        margin: 0px;
        position: absolute;
    }
    .contenedor__login-register {
        top: -10px;
        left: -5px;
        margin: auto;
    }
    .contenedor__login-register form {
        position: relative;
    }
}